@charset "ISO-8859-1";

.land{
	height:100vh;
	padding-top: 20%;
	
}

.welcome{
	font-size: 45px;
	
}
.land h1 {
    font-size: 50px;
    
}


.care{
	color:#CCCCFF;
}
.come{
	color:#CCCCFF;
}
.x{
	font-size: 100px;
}

#info{
	height:100vh;
}

#service{
	height:100vh;
	width:50%;
}

#history{
	width:50%;
	height:100vh;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}