@charset "ISO-8859-1";

.land{
	height:100vh;
	padding-top: 20%;
	
}

.welcome{
	font-size: 45px;
	
}
.land h1 {
    font-size: 50px;
    
}


.care{
	color:#CCCCFF;
}
.come{
	color:#CCCCFF;
}
.x{
	font-size: 100px;
}