@charset "ISO-8859-1";

.land{
	height:100vh;
	padding-left: 10%;
	
}

.welcome{
	font-size: 45px;
	
}
.land h1 {
    font-size: 50px;
    
}


.care{
	color:#CCCCFF;
}
.come{
	color:#CCCCFF;
}
.x{
	font-size: 100px;
}
#home{
	content: "";
	background-image: url('https://images.unsplash.com/photo-1533473359331-0135ef1b58bf?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80'); /* Replace 'path-to-your-image.jpg' with the actual path to your image */
  	background-size: cover; /* This property scales the background image to cover the entire div */
  	background-repeat: no-repeat; /* Prevent the background image from repeating */
  	background-position: center; 
}


#info{
	height:100vh;
	display: flex;
    justify-content: center;
}

#service{
	
	display: flex;
    justify-content: center;
    background-image: url('https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); /* Replace 'path-to-your-image.jpg' with the actual path to your image */
  	background-size: cover;
}

#history{
	
	height:100vh;
	display: flex;
    align-items: center;
	margin-top: 10%;
	flex-direction: column;
}


table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

 td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color:#34495E ;
  color: white;
}



.delete {
  background-color: #f44336;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  border-radius: 25px;
}

.delete:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
	border:0;
  float: left;
  height:40px;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color:#04AA6D;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container2 {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
 
/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
     width: 100%;
  }
}

.history-title h1{
	font-size: 2rem;
    font-weight: 700;
	
}
.foroms{
	position:inherit;
	padding-top: 30px;
}

.past h2{
	font-size: 2rem;
    font-weight: 700;
    text-align: center;

	}
.future h2{
	font-size: 2rem;
    font-weight: 700;
    text-align: center;
	
}





/* CSS */
.res {
  align-items: center;
  background-color: #fee6e3;
  border: 2px solid #111;
  border-radius: 8px;
  box-sizing: border-box;
  color: #111;
  cursor: pointer;
  display: flex;
  font-family: Inter,sans-serif;
  font-size: 16px;
  height: 48px;
  justify-content: center;
  line-height: 24px;
  width: 100%;
  max-width: 100%;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.res:after {
  background-color: #111;
  border-radius: 8px;
  content: "";
  display: block;
  height: 48px;
  left: 0;
  width: 100%;
  position: absolute;
  top: -2px;
  transform: translate(8px, 8px);
  transition: transform .2s ease-out;
  z-index: -1;
}

.res:hover:after {
  transform: translate(0, 0);
}

.res:active {
  background-color: #ffdeda;
  outline: 0;
}

.res:hover {
  outline: 0;
}

@media (min-width: 768px) {
  .res {
    padding: 0 40px;
  }
}

.table{
	
	margin-bottom:5%;
}